In [36]:
import pandas as pd

# Carga del archivo .csv
ruta_archivo = "C:/Users/Nicolas/Desktop/proyecto3-analítica/Resultados__nicos_Saber_11_20241128.csv"
df = pd.read_csv(ruta_archivo)
df.head()

C:\Users\Nicolas\AppData\Local\Temp\ipykernel_3808\4292455234.py:5: DtypeWarning: Columns (45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_archivo)

,PERIODO,ESTU_TIPODOCUMENTO,ESTU_CONSECUTIVO,COLE_AREA_UBICACION,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_COD_DANE_ESTABLECIMIENTO,COLE_COD_DANE_SEDE,COLE_COD_DEPTO_UBICACION,...,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,DESEMP_INGLES,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
0,20131,CR,SB11201310000414,URBANO,N,B,ACADÉMICO,3.118480e+11,3.118480e+11,11.0,...,Si,Si,Si,B+,94.0,88.0,NaN,NaN,NaN,NaN
1,20194,TI,SB11201940464873,RURAL,N,A,TÉCNICO/ACADÉMICO,1.410160e+11,2.410160e+11,41.0,...,Si,Si,Si,B1,71.0,66.0,70.0,65.0,69.0,339.0
2,20194,TI,SB11201940464873,RURAL,N,A,TÉCNICO/ACADÉMICO,1.410160e+11,2.410160e+11,41.0,...,Si,Si,Si,B1,71.0,66.0,70.0,65.0,69.0,339.0
3,20122,TI,SB11201220204399,URBANO,N,A,TÉCNICO/ACADÉMICO,1.631300e+11,1.631300e+11,63.0,...,Si,Si,No,A1,48.0,45.0,NaN,NaN,NaN,NaN
4,20132,TI,SB11201320464198,URBANO,N,A,TÉCNICO,1.190010e+11,1.190010e+11,19.0,...,Si,Si,Si,A-,43.0,52.0,NaN,NaN,NaN,NaN

In [37]:
df.count()

PERIODO                          7109704
ESTU_TIPODOCUMENTO               7109703
ESTU_CONSECUTIVO                 7109704
COLE_AREA_UBICACION              7106673
COLE_BILINGUE                    6192834
COLE_CALENDARIO                  7108168
COLE_CARACTER                    6999492
COLE_COD_DANE_ESTABLECIMIENTO    7106327
COLE_COD_DANE_SEDE               7109594
COLE_COD_DEPTO_UBICACION         7109681
COLE_COD_MCPIO_UBICACION         7109681
COLE_CODIGO_ICFES                7085971
COLE_DEPTO_UBICACION             7109681
COLE_GENERO                      7109681
COLE_JORNADA                     7109681
COLE_MCPIO_UBICACION             7109681
COLE_NATURALEZA                  7109681
COLE_NOMBRE_ESTABLECIMIENTO      7109681
COLE_NOMBRE_SEDE                 7109681
COLE_SEDE_PRINCIPAL              7109681
ESTU_COD_DEPTO_PRESENTACION      7109618
ESTU_COD_MCPIO_PRESENTACION      7109618
ESTU_COD_RESIDE_DEPTO            7070110
ESTU_COD_RESIDE_MCPIO            7070110
ESTU_DEPTO_PRESENTACION          7109618
ESTU_DEPTO_RESIDE                7070110
ESTU_ESTADOINVESTIGACION         7109704
ESTU_ESTUDIANTE                  7109704
ESTU_FECHANACIMIENTO             7109539
ESTU_GENERO                      7106298
ESTU_MCPIO_PRESENTACION          7109618
ESTU_MCPIO_RESIDE                7070110
ESTU_NACIONALIDAD                7109704
ESTU_PAIS_RESIDE                 7109704
ESTU_PRIVADO_LIBERTAD            7109704
FAMI_CUARTOSHOGAR                6980942
FAMI_EDUCACIONMADRE              6896878
FAMI_EDUCACIONPADRE              6897281
FAMI_ESTRATOVIVIENDA             6891485
FAMI_PERSONASHOGAR               6981476
FAMI_TIENEAUTOMOVIL              6974935
FAMI_TIENECOMPUTADOR             6958487
FAMI_TIENEINTERNET               6918080
FAMI_TIENELAVADORA               6981618
DESEMP_INGLES                    7104294
PUNT_INGLES                      7105525
PUNT_MATEMATICAS                 7109704
PUNT_SOCIALES_CIUDADANAS         4500181
PUNT_C_NATURALES                 4500181
PUNT_LECTURA_CRITICA             4500181
PUNT_GLOBAL                      4500181
dtype: int64

In [38]:
df.columns

Index(['PERIODO', 'ESTU_TIPODOCUMENTO', 'ESTU_CONSECUTIVO',
       'COLE_AREA_UBICACION', 'COLE_BILINGUE', 'COLE_CALENDARIO',
       'COLE_CARACTER', 'COLE_COD_DANE_ESTABLECIMIENTO', 'COLE_COD_DANE_SEDE',
       'COLE_COD_DEPTO_UBICACION', 'COLE_COD_MCPIO_UBICACION',
       'COLE_CODIGO_ICFES', 'COLE_DEPTO_UBICACION', 'COLE_GENERO',
       'COLE_JORNADA', 'COLE_MCPIO_UBICACION', 'COLE_NATURALEZA',
       'COLE_NOMBRE_ESTABLECIMIENTO', 'COLE_NOMBRE_SEDE',
       'COLE_SEDE_PRINCIPAL', 'ESTU_COD_DEPTO_PRESENTACION',
       'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_COD_RESIDE_DEPTO',
       'ESTU_COD_RESIDE_MCPIO', 'ESTU_DEPTO_PRESENTACION', 'ESTU_DEPTO_RESIDE',
       'ESTU_ESTADOINVESTIGACION', 'ESTU_ESTUDIANTE', 'ESTU_FECHANACIMIENTO',
       'ESTU_GENERO', 'ESTU_MCPIO_PRESENTACION', 'ESTU_MCPIO_RESIDE',
       'ESTU_NACIONALIDAD', 'ESTU_PAIS_RESIDE', 'ESTU_PRIVADO_LIBERTAD',
       'FAMI_CUARTOSHOGAR', 'FAMI_EDUCACIONMADRE', 'FAMI_EDUCACIONPADRE',
       'FAMI_ESTRATOVIVIENDA', 'FAMI_PERSONASHOGAR', 'FAMI_TIENEAUTOMOVIL',
       'FAMI_TIENECOMPUTADOR', 'FAMI_TIENEINTERNET', 'FAMI_TIENELAVADORA',
       'DESEMP_INGLES', 'PUNT_INGLES', 'PUNT_MATEMATICAS',
       'PUNT_SOCIALES_CIUDADANAS', 'PUNT_C_NATURALES', 'PUNT_LECTURA_CRITICA',
       'PUNT_GLOBAL'],
      dtype='object')

In [39]:
filtro = df["COLE_COD_DEPTO_UBICACION"].isin([63, 66])
df_filtrado = df[filtro]
df_filtrado.count()

PERIODO                          215051
ESTU_TIPODOCUMENTO               215051
ESTU_CONSECUTIVO                 215051
COLE_AREA_UBICACION              215051
COLE_BILINGUE                    196710
COLE_CALENDARIO                  215051
COLE_CARACTER                    213782
COLE_COD_DANE_ESTABLECIMIENTO    215051
COLE_COD_DANE_SEDE               215051
COLE_COD_DEPTO_UBICACION         215051
COLE_COD_MCPIO_UBICACION         215051
COLE_CODIGO_ICFES                214083
COLE_DEPTO_UBICACION             215051
COLE_GENERO                      215051
COLE_JORNADA                     215051
COLE_MCPIO_UBICACION             215051
COLE_NATURALEZA                  215051
COLE_NOMBRE_ESTABLECIMIENTO      215051
COLE_NOMBRE_SEDE                 215051
COLE_SEDE_PRINCIPAL              215051
ESTU_COD_DEPTO_PRESENTACION      215050
ESTU_COD_MCPIO_PRESENTACION      215050
ESTU_COD_RESIDE_DEPTO            213444
ESTU_COD_RESIDE_MCPIO            213444
ESTU_DEPTO_PRESENTACION          215050
ESTU_DEPTO_RESIDE                213444
ESTU_ESTADOINVESTIGACION         215051
ESTU_ESTUDIANTE                  215051
ESTU_FECHANACIMIENTO             215051
ESTU_GENERO                      214944
ESTU_MCPIO_PRESENTACION          215050
ESTU_MCPIO_RESIDE                213444
ESTU_NACIONALIDAD                215051
ESTU_PAIS_RESIDE                 215051
ESTU_PRIVADO_LIBERTAD            215051
FAMI_CUARTOSHOGAR                211672
FAMI_EDUCACIONMADRE              209021
FAMI_EDUCACIONPADRE              209033
FAMI_ESTRATOVIVIENDA             208436
FAMI_PERSONASHOGAR               211628
FAMI_TIENEAUTOMOVIL              211526
FAMI_TIENECOMPUTADOR             210854
FAMI_TIENEINTERNET               209789
FAMI_TIENELAVADORA               211761
DESEMP_INGLES                    214927
PUNT_INGLES                      214972
PUNT_MATEMATICAS                 215051
PUNT_SOCIALES_CIUDADANAS         138594
PUNT_C_NATURALES                 138594
PUNT_LECTURA_CRITICA             138594
PUNT_GLOBAL                      138594
dtype: int64

In [41]:
df_filtrado.describe()

,PERIODO,COLE_COD_DANE_ESTABLECIMIENTO,COLE_COD_DANE_SEDE,COLE_COD_DEPTO_UBICACION,COLE_COD_MCPIO_UBICACION,COLE_CODIGO_ICFES,ESTU_COD_DEPTO_PRESENTACION,ESTU_COD_MCPIO_PRESENTACION,ESTU_COD_RESIDE_DEPTO,ESTU_COD_RESIDE_MCPIO,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
count,215051.000000,2.150510e+05,2.150510e+05,215051.000000,215051.000000,214083.000000,215050.000000,215050.000000,213444.000000,213444.000000,138594.000000,138594.000000,138594.000000,138594.000000
mean,20158.596314,2.091768e+11,2.093782e+11,64.838480,64990.935094,165236.494177,64.179991,64316.503041,64.707717,64863.021753,49.767869,50.700434,52.942718,255.983708
std,39.041374,7.847233e+10,7.849195e+10,1.461315,1472.804236,222471.980469,6.173713,6178.983718,3.588822,3596.061610,11.270904,10.261276,10.005986,48.423836
min,20101.000000,1.630010e+11,1.630010e+11,63.000000,63001.000000,0.000000,5.000000,5001.000000,5.000000,5001.000000,0.000000,0.000000,0.000000,0.000000
25%,20122.000000,1.634010e+11,1.634010e+11,63.000000,63130.000000,13763.000000,63.000000,63001.000000,63.000000,63130.000000,41.000000,43.000000,46.000000,221.000000
50%,20152.000000,1.660010e+11,1.660010e+11,66.000000,66001.000000,92551.000000,66.000000,66001.000000,66.000000,66001.000000,50.000000,50.000000,53.000000,253.000000
75%,20194.000000,2.660010e+11,2.660010e+11,66.000000,66088.000000,151605.000000,66.000000,66088.000000,66.000000,66170.000000,58.000000,58.000000,60.000000,288.000000
max,20224.000000,4.660018e+11,4.660018e+11,66.000000,66687.000000,801993.000000,88.000000,88001.000000,97.000000,97001.000000,100.000000,100.000000,100.000000,476.000000

In [42]:
columnas_seleccionadas = [
    'COLE_BILINGUE', 'COLE_CALENDARIO', 'COLE_CARACTER',
    'COLE_JORNADA', 'COLE_NATURALEZA', 'ESTU_GENERO',
    'FAMI_EDUCACIONMADRE', 'FAMI_EDUCACIONPADRE', 'FAMI_ESTRATOVIVIENDA',
    'FAMI_TIENEAUTOMOVIL', 'FAMI_TIENECOMPUTADOR',
    'FAMI_TIENEINTERNET', 'FAMI_TIENELAVADORA', 'PUNT_INGLES',
    'PUNT_MATEMATICAS', 'PUNT_SOCIALES_CIUDADANAS', 'PUNT_C_NATURALES',
    'PUNT_LECTURA_CRITICA', 'PUNT_GLOBAL'
]

# Filtrar el DataFrame conservando solo las columnas seleccionadas
df_filtrado = df_filtrado[columnas_seleccionadas]

In [43]:
df_filtrado.describe()

,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
count,138594.000000,138594.000000,138594.000000,138594.000000
mean,49.767869,50.700434,52.942718,255.983708
std,11.270904,10.261276,10.005986,48.423836
min,0.000000,0.000000,0.000000,0.000000
25%,41.000000,43.000000,46.000000,221.000000
50%,50.000000,50.000000,53.000000,253.000000
75%,58.000000,58.000000,60.000000,288.000000
max,100.000000,100.000000,100.000000,476.000000

In [44]:
df_filtrado.columns

Index(['COLE_BILINGUE', 'COLE_CALENDARIO', 'COLE_CARACTER', 'COLE_JORNADA',
       'COLE_NATURALEZA', 'ESTU_GENERO', 'FAMI_EDUCACIONMADRE',
       'FAMI_EDUCACIONPADRE', 'FAMI_ESTRATOVIVIENDA', 'FAMI_TIENEAUTOMOVIL',
       'FAMI_TIENECOMPUTADOR', 'FAMI_TIENEINTERNET', 'FAMI_TIENELAVADORA',
       'PUNT_INGLES', 'PUNT_MATEMATICAS', 'PUNT_SOCIALES_CIUDADANAS',
       'PUNT_C_NATURALES', 'PUNT_LECTURA_CRITICA', 'PUNT_GLOBAL'],
      dtype='object')

In [45]:
df_filtrado.head()

,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_JORNADA,COLE_NATURALEZA,ESTU_GENERO,FAMI_EDUCACIONMADRE,FAMI_EDUCACIONPADRE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEAUTOMOVIL,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
3,N,A,TÉCNICO/ACADÉMICO,MAÑANA,OFICIAL,F,Secundaria (Bachillerato) incompleta,No sabe,Estrato 1,No,Si,Si,No,48.0,45.0,NaN,NaN,NaN,NaN
167,NaN,A,ACADÉMICO,MAÑANA,OFICIAL,F,Técnica o tecnológica completa,Ninguno,Estrato 2,No,Si,Si,Si,49.0,42.0,59.0,54.0,56.0,262.0
298,N,A,TÉCNICO,MAÑANA,OFICIAL,F,Secundaria (Bachillerato) completa,No sabe,Estrato 3,No,Si,Si,Si,67.0,52.0,54.0,54.0,60.0,280.0
332,N,A,TÉCNICO/ACADÉMICO,NOCHE,OFICIAL,F,Primaria completa,Primaria completa,Estrato 1,No,No,No,No,45.0,40.0,47.0,49.0,54.0,237.0
397,N,A,TÉCNICO/ACADÉMICO,MAÑANA,OFICIAL,F,Educación profesional completa,Primaria incompleta,Estrato 3,No,Si,Si,Si,43.0,60.0,NaN,NaN,NaN,NaN

In [46]:
df_filtrado["ESTU_GENERO"].unique()

array(['F', 'M', nan], dtype=object)

In [47]:
df_filtrado["FAMI_EDUCACIONMADRE"].unique()

array(['Secundaria (Bachillerato) incompleta',
       'Técnica o tecnológica completa',
       'Secundaria (Bachillerato) completa', 'Primaria completa',
       'Educación profesional completa', 'Primaria incompleta', 'Ninguno',
       'No sabe', 'Postgrado', nan, 'Técnica o tecnológica incompleta',
       'Educación profesional incompleta', 'No Aplica'], dtype=object)

In [48]:
df_filtrado["COLE_CARACTER"].unique()

array(['TÉCNICO/ACADÉMICO', 'ACADÉMICO', 'TÉCNICO', 'NO APLICA', nan],
      dtype=object)

In [49]:
valores_nulos_por_columna = df_filtrado.isnull().sum()
print("Valores nulos por columna:")
print(valores_nulos_por_columna)

Valores nulos por columna:
COLE_BILINGUE               18341
COLE_CALENDARIO                 0
COLE_CARACTER                1269
COLE_JORNADA                    0
COLE_NATURALEZA                 0
ESTU_GENERO                   107
FAMI_EDUCACIONMADRE          6030
FAMI_EDUCACIONPADRE          6018
FAMI_ESTRATOVIVIENDA         6615
FAMI_TIENEAUTOMOVIL          3525
FAMI_TIENECOMPUTADOR         4197
FAMI_TIENEINTERNET           5262
FAMI_TIENELAVADORA           3290
PUNT_INGLES                    79
PUNT_MATEMATICAS                0
PUNT_SOCIALES_CIUDADANAS    76457
PUNT_C_NATURALES            76457
PUNT_LECTURA_CRITICA        76457
PUNT_GLOBAL                 76457
dtype: int64

In [89]:
df_sin_nulos = df_filtrado.dropna(subset=['PUNT_GLOBAL'])

In [90]:
valores_nulos_por_columna = df_sin_nulos.isnull().sum()
print("Valores nulos por columna:")
print(valores_nulos_por_columna)

Valores nulos por columna:
COLE_BILINGUE               14056
COLE_CALENDARIO                 0
COLE_CARACTER                1136
COLE_JORNADA                    0
COLE_NATURALEZA                 0
ESTU_GENERO                   106
FAMI_EDUCACIONMADRE          4397
FAMI_EDUCACIONPADRE          4400
FAMI_ESTRATOVIVIENDA         4731
FAMI_TIENEAUTOMOVIL          2715
FAMI_TIENECOMPUTADOR         2553
FAMI_TIENEINTERNET           4443
FAMI_TIENELAVADORA           2480
PUNT_INGLES                    79
PUNT_MATEMATICAS                0
PUNT_SOCIALES_CIUDADANAS        0
PUNT_C_NATURALES                0
PUNT_LECTURA_CRITICA            0
PUNT_GLOBAL                     0
dtype: int64

In [91]:
columnas_a_reemplazar = [
    'FAMI_TIENEAUTOMOVIL',
    'FAMI_TIENECOMPUTADOR', 'FAMI_TIENEINTERNET', 'FAMI_TIENELAVADORA']

df_sin_nulos[columnas_a_reemplazar] = df_sin_nulos[columnas_a_reemplazar].fillna("No")

C:\Users\Nicolas\AppData\Local\Temp\ipykernel_3808\3516835089.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sin_nulos[columnas_a_reemplazar] = df_sin_nulos[columnas_a_reemplazar].fillna("No")

In [92]:
valores_nulos_por_columna = df_sin_nulos.isnull().sum()
print("Valores nulos por columna:")
print(valores_nulos_por_columna)

Valores nulos por columna:
COLE_BILINGUE               14056
COLE_CALENDARIO                 0
COLE_CARACTER                1136
COLE_JORNADA                    0
COLE_NATURALEZA                 0
ESTU_GENERO                   106
FAMI_EDUCACIONMADRE          4397
FAMI_EDUCACIONPADRE          4400
FAMI_ESTRATOVIVIENDA         4731
FAMI_TIENEAUTOMOVIL             0
FAMI_TIENECOMPUTADOR            0
FAMI_TIENEINTERNET              0
FAMI_TIENELAVADORA              0
PUNT_INGLES                    79
PUNT_MATEMATICAS                0
PUNT_SOCIALES_CIUDADANAS        0
PUNT_C_NATURALES                0
PUNT_LECTURA_CRITICA            0
PUNT_GLOBAL                     0
dtype: int64

In [93]:
df_sin_nulos['FAMI_EDUCACIONMADRE'] = df_sin_nulos['FAMI_EDUCACIONMADRE'].fillna("No sabe")
df_sin_nulos['FAMI_EDUCACIONPADRE'] = df_sin_nulos['FAMI_EDUCACIONPADRE'].fillna("No sabe")

df_sin_nulos['FAMI_ESTRATOVIVIENDA'] = df_sin_nulos['FAMI_ESTRATOVIVIENDA'].fillna("Estrato 2")
df_sin_nulos['COLE_BILINGUE'] = df_sin_nulos['COLE_BILINGUE'].fillna("N")

C:\Users\Nicolas\AppData\Local\Temp\ipykernel_3808\476192827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sin_nulos['FAMI_EDUCACIONMADRE'] = df_sin_nulos['FAMI_EDUCACIONMADRE'].fillna("No sabe")
C:\Users\Nicolas\AppData\Local\Temp\ipykernel_3808\476192827.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sin_nulos['FAMI_EDUCACIONPADRE'] = df_sin_nulos['FAMI_EDUCACIONPADRE'].fillna("No sabe")
C:\Users\Nicolas\AppData\Local\Temp\ipykernel_3808\476192827.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sin_nulos['FAMI_ESTRATOVIVIENDA'] = df_sin_nulos['FAMI_ESTRATOVIVIENDA'].fillna("Estrato 2")
C:\Users\Nicolas\AppData\Local\Temp\ipykernel_3808\476192827.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sin_nulos['COLE_BILINGUE'] = df_sin_nulos['COLE_BILINGUE'].fillna("N")

In [94]:
valores_nulos_por_columna = df_sin_nulos.isnull().sum()
print("Valores nulos por columna:")
print(valores_nulos_por_columna)

Valores nulos por columna:
COLE_BILINGUE                  0
COLE_CALENDARIO                0
COLE_CARACTER               1136
COLE_JORNADA                   0
COLE_NATURALEZA                0
ESTU_GENERO                  106
FAMI_EDUCACIONMADRE            0
FAMI_EDUCACIONPADRE            0
FAMI_ESTRATOVIVIENDA           0
FAMI_TIENEAUTOMOVIL            0
FAMI_TIENECOMPUTADOR           0
FAMI_TIENEINTERNET             0
FAMI_TIENELAVADORA             0
PUNT_INGLES                   79
PUNT_MATEMATICAS               0
PUNT_SOCIALES_CIUDADANAS       0
PUNT_C_NATURALES               0
PUNT_LECTURA_CRITICA           0
PUNT_GLOBAL                    0
dtype: int64

In [95]:
df_sin_nulos = df_sin_nulos.dropna(subset=['PUNT_INGLES'])

In [96]:
df_sin_nulos['COLE_CARACTER'] = df_sin_nulos['COLE_CARACTER'].fillna("NO APLICA")
df_sin_nulos['ESTU_GENERO'] = df_sin_nulos['ESTU_GENERO'].fillna("No especifíca")

In [97]:
df_sin_nulos = df_sin_nulos.dropna()

In [98]:
df_sin_nulos.head()

,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_JORNADA,COLE_NATURALEZA,ESTU_GENERO,FAMI_EDUCACIONMADRE,FAMI_EDUCACIONPADRE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEAUTOMOVIL,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
167,N,A,ACADÉMICO,MAÑANA,OFICIAL,F,Técnica o tecnológica completa,Ninguno,Estrato 2,No,Si,Si,Si,49.0,42.0,59.0,54.0,56.0,262.0
298,N,A,TÉCNICO,MAÑANA,OFICIAL,F,Secundaria (Bachillerato) completa,No sabe,Estrato 3,No,Si,Si,Si,67.0,52.0,54.0,54.0,60.0,280.0
332,N,A,TÉCNICO/ACADÉMICO,NOCHE,OFICIAL,F,Primaria completa,Primaria completa,Estrato 1,No,No,No,No,45.0,40.0,47.0,49.0,54.0,237.0
400,N,A,TÉCNICO/ACADÉMICO,COMPLETA,OFICIAL,M,Primaria completa,Primaria completa,Estrato 2,No,No,No,Si,44.0,51.0,47.0,42.0,47.0,233.0
528,N,A,ACADÉMICO,MAÑANA,OFICIAL,F,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,Estrato 1,No,No,No,No,49.0,47.0,45.0,44.0,54.0,238.0

In [99]:
df_sin_nulos.count()

COLE_BILINGUE               138515
COLE_CALENDARIO             138515
COLE_CARACTER               138515
COLE_JORNADA                138515
COLE_NATURALEZA             138515
ESTU_GENERO                 138515
FAMI_EDUCACIONMADRE         138515
FAMI_EDUCACIONPADRE         138515
FAMI_ESTRATOVIVIENDA        138515
FAMI_TIENEAUTOMOVIL         138515
FAMI_TIENECOMPUTADOR        138515
FAMI_TIENEINTERNET          138515
FAMI_TIENELAVADORA          138515
PUNT_INGLES                 138515
PUNT_MATEMATICAS            138515
PUNT_SOCIALES_CIUDADANAS    138515
PUNT_C_NATURALES            138515
PUNT_LECTURA_CRITICA        138515
PUNT_GLOBAL                 138515
dtype: int64

In [100]:
valores_nulos_por_columna = df_sin_nulos.isnull().sum()
print("Valores nulos por columna:")
print(valores_nulos_por_columna)

Valores nulos por columna:
COLE_BILINGUE               0
COLE_CALENDARIO             0
COLE_CARACTER               0
COLE_JORNADA                0
COLE_NATURALEZA             0
ESTU_GENERO                 0
FAMI_EDUCACIONMADRE         0
FAMI_EDUCACIONPADRE         0
FAMI_ESTRATOVIVIENDA        0
FAMI_TIENEAUTOMOVIL         0
FAMI_TIENECOMPUTADOR        0
FAMI_TIENEINTERNET          0
FAMI_TIENELAVADORA          0
PUNT_INGLES                 0
PUNT_MATEMATICAS            0
PUNT_SOCIALES_CIUDADANAS    0
PUNT_C_NATURALES            0
PUNT_LECTURA_CRITICA        0
PUNT_GLOBAL                 0
dtype: int64

In [101]:
def convert_to_float(value):
    try:
        return float(value)
    except (ValueError, TypeError):
        return np.nan

# Aplicamos la función de conversión a ambas columnas
df_sin_nulos['PUNT_INGLES'] = df_sin_nulos['PUNT_INGLES'].apply(convert_to_float)
df_sin_nulos['PUNT_MATEMATICAS'] = df_sin_nulos['PUNT_MATEMATICAS'].apply(convert_to_float)

In [102]:
df_sin_nulos.head()

,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_JORNADA,COLE_NATURALEZA,ESTU_GENERO,FAMI_EDUCACIONMADRE,FAMI_EDUCACIONPADRE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEAUTOMOVIL,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
167,N,A,ACADÉMICO,MAÑANA,OFICIAL,F,Técnica o tecnológica completa,Ninguno,Estrato 2,No,Si,Si,Si,49.0,42.0,59.0,54.0,56.0,262.0
298,N,A,TÉCNICO,MAÑANA,OFICIAL,F,Secundaria (Bachillerato) completa,No sabe,Estrato 3,No,Si,Si,Si,67.0,52.0,54.0,54.0,60.0,280.0
332,N,A,TÉCNICO/ACADÉMICO,NOCHE,OFICIAL,F,Primaria completa,Primaria completa,Estrato 1,No,No,No,No,45.0,40.0,47.0,49.0,54.0,237.0
400,N,A,TÉCNICO/ACADÉMICO,COMPLETA,OFICIAL,M,Primaria completa,Primaria completa,Estrato 2,No,No,No,Si,44.0,51.0,47.0,42.0,47.0,233.0
528,N,A,ACADÉMICO,MAÑANA,OFICIAL,F,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,Estrato 1,No,No,No,No,49.0,47.0,45.0,44.0,54.0,238.0

In [103]:
df_sin_nulos.columns

Index(['COLE_BILINGUE', 'COLE_CALENDARIO', 'COLE_CARACTER', 'COLE_JORNADA',
       'COLE_NATURALEZA', 'ESTU_GENERO', 'FAMI_EDUCACIONMADRE',
       'FAMI_EDUCACIONPADRE', 'FAMI_ESTRATOVIVIENDA', 'FAMI_TIENEAUTOMOVIL',
       'FAMI_TIENECOMPUTADOR', 'FAMI_TIENEINTERNET', 'FAMI_TIENELAVADORA',
       'PUNT_INGLES', 'PUNT_MATEMATICAS', 'PUNT_SOCIALES_CIUDADANAS',
       'PUNT_C_NATURALES', 'PUNT_LECTURA_CRITICA', 'PUNT_GLOBAL'],
      dtype='object')

In [104]:
col = ['COLE_BILINGUE', 'COLE_CALENDARIO', 'COLE_CARACTER', 'COLE_JORNADA',
       'COLE_NATURALEZA', 'ESTU_GENERO', 'FAMI_EDUCACIONMADRE',
       'FAMI_EDUCACIONPADRE', 'FAMI_ESTRATOVIVIENDA', 'FAMI_TIENEAUTOMOVIL',
       'FAMI_TIENECOMPUTADOR', 'FAMI_TIENEINTERNET', 'FAMI_TIENELAVADORA',
       'PUNT_INGLES', 'PUNT_MATEMATICAS', 'PUNT_SOCIALES_CIUDADANAS',
       'PUNT_C_NATURALES', 'PUNT_LECTURA_CRITICA', 'PUNT_GLOBAL']

for i in col:
    print(f"{i}: ")
    print(df_sin_nulos[i].unique())

COLE_BILINGUE:
['N' 'S']
COLE_CALENDARIO:
['A' 'B' 'OTRO']
COLE_CARACTER:
['ACADÉMICO' 'TÉCNICO' 'TÉCNICO/ACADÉMICO' 'NO APLICA']
COLE_JORNADA:
['MAÑANA' 'NOCHE' 'COMPLETA' 'UNICA' 'SABATINA' 'TARDE']
COLE_NATURALEZA:
['OFICIAL' 'NO OFICIAL']
ESTU_GENERO:
['F' 'M' 'No especifíca']
FAMI_EDUCACIONMADRE:
['Técnica o tecnológica completa' 'Secundaria (Bachillerato) completa'
 'Primaria completa' 'Educación profesional completa'
 'Primaria incompleta' 'Secundaria (Bachillerato) incompleta' 'Ninguno'
 'No sabe' 'Postgrado' 'Técnica o tecnológica incompleta'
 'Educación profesional incompleta' 'No Aplica']
FAMI_EDUCACIONPADRE:
['Ninguno' 'No sabe' 'Primaria completa'
 'Secundaria (Bachillerato) completa'
 'Secundaria (Bachillerato) incompleta' 'Técnica o tecnológica completa'
 'Primaria incompleta' 'Postgrado' 'Educación profesional completa'
 'Técnica o tecnológica incompleta' 'Educación profesional incompleta'
 'No Aplica']
FAMI_ESTRATOVIVIENDA:
['Estrato 2' 'Estrato 3' 'Estrato 1' 'Sin Estrato' 'Estrato 4' 'Estrato 6'
 'Estrato 5']
FAMI_TIENEAUTOMOVIL:
['No' 'Si']
FAMI_TIENECOMPUTADOR:
['Si' 'No']
FAMI_TIENEINTERNET:
['Si' 'No']
FAMI_TIENELAVADORA:
['Si' 'No']
PUNT_INGLES:
[ 49.  67.  45.  44.  54.  65.  51.  33.  85.  58.  53.  52.  56.  55.
  61.  46.  40.  29.  50.  76.  43.  59.  78.  90.  32.  42.  69.  60.
  57.  41.  47.  38.  74.  35.  82.  48.  71.  73.  68.  37.  88.  36.
  86.  66.  97.  39.  70.  62.  64.  95.  26.  77.  63.  79. 100.  28.
  83.  31.  80.  75.  34.  72.   0.  81.  24.  30.  23.  25.  84.  89.
  94.  87.  27.  20.  22.  93.  91.  92.  96.  21.  15.  14.  98.   6.
  99.]
PUNT_MATEMATICAS:
[ 42.  52.  40.  51.  47.  71.  49.  53.  39.  41.  69.  64.  58.  45.
  48.  46.  65.  37.  63.  54.  23.  68.  70.  57.  62.  84.  35.  60.
  44.  33.  55.  67.  59.  29.  30.  50.  56.  73.  38.  31.  34.  32.
  74.  43.  22.  77.  72.  97.  28.  24.  27.  80.  36. 100.  79.  61.
  76.  66.  82.  78.   0.  75.  25.  91.  85.  81.  93.  83.  26.  87.
  99.  92.  96.  86.  21.  20.  89.  90.  95.  18.  19.  17.   8.  16.
  88.  13.  12.  98.  94.]
PUNT_SOCIALES_CIUDADANAS:
[ 59.  54.  47.  45.  70.  40.  34.  68.  64.  58.  49.  38.  50.  60.
  52.  48.  37.  51.  27.  53.  72.  39.  56.  46.  78.  57.  55.  63.
  42.  74.  35.  24.  65.  61.  43.  79.  33.  26.  32.  41.  67.  44.
  77.  75.  69.  28.  62.  81.  36.  30.  71.  25.  31.  66.   0.  29.
  18.  84.  21.  80.  73.  76.  16.  23.  98.  20.  82.  14.  22.  93.
  92. 100.  15.  83.  19.  12.  94.  88.  87.  86.  90.   1.   2.  91.
   9.  11.  89.  85.   4.]
PUNT_C_NATURALES:
[ 54.  49.  42.  44.  64.  45.  37.  62.  61.  58.  50.  40.  57.  60.
  47.  34.  46.  51.  43.  53.  63.  71.  68.  55.  56.  69.  48.  59.
  67.  39.  36.  76.  28.  30.  41.  52.  74.  33.  81.  66.  38.  24.
  26.  93.  65.  27.  29.  73.  35.  32.  85.  75.  70.  78.   0.  25.
  72.  77.  31. 100.  19.  79.  83.  80.  22.  90.  84.  16.  18.  86.
  82.  88.  21.  20.  87.  14.  23.  96.  91.  17.  95.  13.   7.  89.]
PUNT_LECTURA_CRITICA:
[ 56.  60.  54.  47.  52.  51.  57.  50.  37.  73.  58.  62.  38.  48.
  59.  49.  46.  44.  63.  66.  53.  64.  45.  40.  68.  67.  43.  55.
  71.  30.  61.  26.  42.  35.  36.  65.  70.  32.  69.  77.  75.  74.
  41.  72.  39.  33.  34.   0.  80.  23.  78.  29.  31.  76.  79.  28.
  91.  24.  83.  27.  85.  25.  84.  94.  16.  82.  81.  21. 100.   7.
  19.  15.  14.  90.  92.  93.  20.  86.  22.   4.  18.   6.   8.]
PUNT_GLOBAL:
[262. 280. 237. 233. 238. 317. 247. 277. 211. 185. 347. 307. 294. 252.
 222. 230. 278. 282. 269. 259. 255. 236. 184. 279. 256. 244. 332. 249.
 305. 273. 193. 361. 220. 298. 225. 240. 241. 243. 322. 246. 378. 210.
 283. 250. 272. 162. 264. 302. 260. 321. 212. 300. 292. 288. 289. 266.
 248. 232. 208. 271. 209. 235. 337. 355. 304. 326. 198. 199. 205. 227.
 161. 188. 290. 200. 213. 343. 265. 214. 218. 234. 175. 173. 221. 293.
 254. 295. 231. 245. 306. 189. 365. 275. 261. 274. 228. 153. 335. 287.
 394. 216. 315. 251. 325. 324. 331. 179. 319. 215. 257. 318. 190. 328.
 239. 308. 202. 186. 303. 268. 276. 316. 333. 267. 223. 170. 191. 435.
 301. 297. 226. 140. 296. 253. 291. 176. 258. 242. 313. 196. 285. 309.
 286. 181. 207. 281. 420. 345. 270. 263. 201. 339. 312. 363. 206. 229.
 183. 195. 388. 219. 217. 197. 178. 336. 358. 284. 187. 341. 299. 323.
 310. 360. 348. 203. 401. 367.   0. 167. 382. 155. 311. 327. 356. 174.
 204. 380. 166. 158. 194. 374. 338. 182. 192. 168. 353. 386. 180. 350.
 340. 160. 329. 320. 330. 139. 402. 163. 224. 172. 177. 385. 143. 373.
 362. 351. 171. 379. 145. 391. 314. 146. 352. 334. 349. 375. 342. 344.
 165. 397. 383. 396. 368. 164. 157. 159. 387. 369. 354. 415. 460. 154.
 148. 400. 371. 364. 393. 152. 381. 144. 357. 125. 419. 359. 156. 390.
 366. 370. 405. 403. 169. 141. 346. 128. 149.  93. 151. 395. 133. 413.
 466. 377. 376.  39. 425. 150. 437. 414. 448. 147. 112. 130. 434. 417.
 384. 398. 399. 372.  51. 404. 115.  76. 406. 476. 431. 131.  16. 409.
 135. 389. 410. 142. 407. 392. 138. 408. 421. 114. 418. 457. 445. 440.
  87.  89. 127.  97. 117. 455. 111. 423. 443. 439. 126. 104. 134. 433.
 137. 432. 412.  80. 123. 416. 119. 411. 438. 129. 118. 422.  81. 430.
 442. 427. 124. 471. 102. 426. 108. 450. 136.  62. 113. 424. 444.  98.
 132.  75. 453.  85. 122. 436. 441. 456.]

In [105]:
df_backup = df_sin_nulos

In [106]:
categorical_columns = df_sin_nulos.select_dtypes(include='object').columns

mappings = {}

for col in categorical_columns:
    unique_values = df_sin_nulos[col].unique()
    mappings[col] = {value: idx for idx, value in enumerate(unique_values)}
    df_sin_nulos[col] = df_sin_nulos[col].map(mappings[col])

df_sin_nulos.head(), mappings

(     COLE_BILINGUE  COLE_CALENDARIO  COLE_CARACTER  COLE_JORNADA  \
 167              0                0              0             0
 298              0                0              1             0
 332              0                0              2             1
 400              0                0              2             2
 528              0                0              0             0

      COLE_NATURALEZA  ESTU_GENERO  FAMI_EDUCACIONMADRE  FAMI_EDUCACIONPADRE  \
 167                0            0                    0                    0
 298                0            0                    1                    1
 332                0            0                    2                    2
 400                0            1                    2                    2
 528                0            0                    1                    3

      FAMI_ESTRATOVIVIENDA  FAMI_TIENEAUTOMOVIL  FAMI_TIENECOMPUTADOR  \
 167                     0                    0                     0
 298                     1                    0                     0
 332                     2                    0                     1
 400                     0                    0                     1
 528                     2                    0                     1

      FAMI_TIENEINTERNET  FAMI_TIENELAVADORA  PUNT_INGLES  PUNT_MATEMATICAS  \
 167                   0                   0         49.0              42.0
 298                   0                   0         67.0              52.0
 332                   1                   1         45.0              40.0
 400                   1                   0         44.0              51.0
 528                   1                   1         49.0              47.0

      PUNT_SOCIALES_CIUDADANAS  PUNT_C_NATURALES  PUNT_LECTURA_CRITICA  \
 167                      59.0              54.0                  56.0
 298                      54.0              54.0                  60.0
 332                      47.0              49.0                  54.0
 400                      47.0              42.0                  47.0
 528                      45.0              44.0                  54.0

      PUNT_GLOBAL
 167        262.0
 298        280.0
 332        237.0
 400        233.0
 528        238.0  ,
 {'COLE_BILINGUE': {'N': 0, 'S': 1},
  'COLE_CALENDARIO': {'A': 0, 'B': 1, 'OTRO': 2},
  'COLE_CARACTER': {'ACADÉMICO': 0,
   'TÉCNICO': 1,
   'TÉCNICO/ACADÉMICO': 2,
   'NO APLICA': 3},
  'COLE_JORNADA': {'MAÑANA': 0,
   'NOCHE': 1,
   'COMPLETA': 2,
   'UNICA': 3,
   'SABATINA': 4,
   'TARDE': 5},
  'COLE_NATURALEZA': {'OFICIAL': 0, 'NO OFICIAL': 1},
  'ESTU_GENERO': {'F': 0, 'M': 1, 'No especifíca': 2},
  'FAMI_EDUCACIONMADRE': {'Técnica o tecnológica completa': 0,
   'Secundaria (Bachillerato) completa': 1,
   'Primaria completa': 2,
   'Educación profesional completa': 3,
   'Primaria incompleta': 4,
   'Secundaria (Bachillerato) incompleta': 5,
   'Ninguno': 6,
   'No sabe': 7,
   'Postgrado': 8,
   'Técnica o tecnológica incompleta': 9,
   'Educación profesional incompleta': 10,
   'No Aplica': 11},
  'FAMI_EDUCACIONPADRE': {'Ninguno': 0,
   'No sabe': 1,
   'Primaria completa': 2,
   'Secundaria (Bachillerato) completa': 3,
   'Secundaria (Bachillerato) incompleta': 4,
   'Técnica o tecnológica completa': 5,
   'Primaria incompleta': 6,
   'Postgrado': 7,
   'Educación profesional completa': 8,
   'Técnica o tecnológica incompleta': 9,
   'Educación profesional incompleta': 10,
   'No Aplica': 11},
  'FAMI_ESTRATOVIVIENDA': {'Estrato 2': 0,
   'Estrato 3': 1,
   'Estrato 1': 2,
   'Sin Estrato': 3,
   'Estrato 4': 4,
   'Estrato 6': 5,
   'Estrato 5': 6},
  'FAMI_TIENEAUTOMOVIL': {'No': 0, 'Si': 1},
  'FAMI_TIENECOMPUTADOR': {'Si': 0, 'No': 1},
  'FAMI_TIENEINTERNET': {'Si': 0, 'No': 1},
  'FAMI_TIENELAVADORA': {'Si': 0, 'No': 1}})

In [107]:
df_backup.head()

,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_JORNADA,COLE_NATURALEZA,ESTU_GENERO,FAMI_EDUCACIONMADRE,FAMI_EDUCACIONPADRE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEAUTOMOVIL,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
167,0,0,0,0,0,0,0,0,0,0,0,0,0,49.0,42.0,59.0,54.0,56.0,262.0
298,0,0,1,0,0,0,1,1,1,0,0,0,0,67.0,52.0,54.0,54.0,60.0,280.0
332,0,0,2,1,0,0,2,2,2,0,1,1,1,45.0,40.0,47.0,49.0,54.0,237.0
400,0,0,2,2,0,1,2,2,0,0,1,1,0,44.0,51.0,47.0,42.0,47.0,233.0
528,0,0,0,0,0,0,1,3,2,0,1,1,1,49.0,47.0,45.0,44.0,54.0,238.0

In [108]:
df_sin_nulos.count()

COLE_BILINGUE               138515
COLE_CALENDARIO             138515
COLE_CARACTER               138515
COLE_JORNADA                138515
COLE_NATURALEZA             138515
ESTU_GENERO                 138515
FAMI_EDUCACIONMADRE         138515
FAMI_EDUCACIONPADRE         138515
FAMI_ESTRATOVIVIENDA        138515
FAMI_TIENEAUTOMOVIL         138515
FAMI_TIENECOMPUTADOR        138515
FAMI_TIENEINTERNET          138515
FAMI_TIENELAVADORA          138515
PUNT_INGLES                 138515
PUNT_MATEMATICAS            138515
PUNT_SOCIALES_CIUDADANAS    138515
PUNT_C_NATURALES            138515
PUNT_LECTURA_CRITICA        138515
PUNT_GLOBAL                 138515
dtype: int64

In [109]:
col = ['COLE_BILINGUE', 'COLE_CALENDARIO', 'COLE_CARACTER', 'COLE_JORNADA',
       'COLE_NATURALEZA', 'ESTU_GENERO', 'FAMI_EDUCACIONMADRE',
       'FAMI_EDUCACIONPADRE', 'FAMI_ESTRATOVIVIENDA', 'FAMI_TIENEAUTOMOVIL',
       'FAMI_TIENECOMPUTADOR', 'FAMI_TIENEINTERNET', 'FAMI_TIENELAVADORA',
       'PUNT_INGLES', 'PUNT_MATEMATICAS', 'PUNT_SOCIALES_CIUDADANAS',
       'PUNT_C_NATURALES', 'PUNT_LECTURA_CRITICA', 'PUNT_GLOBAL']

for i in col:
    print(f"{i}: ")
    print(df_sin_nulos[i].unique())

COLE_BILINGUE:
[0 1]
COLE_CALENDARIO:
[0 1 2]
COLE_CARACTER:
[0 1 2 3]
COLE_JORNADA:
[0 1 2 3 4 5]
COLE_NATURALEZA:
[0 1]
ESTU_GENERO:
[0 1 2]
FAMI_EDUCACIONMADRE:
[ 0  1  2  3  4  5  6  7  8  9 10 11]
FAMI_EDUCACIONPADRE:
[ 0  1  2  3  4  5  6  7  8  9 10 11]
FAMI_ESTRATOVIVIENDA:
[0 1 2 3 4 5 6]
FAMI_TIENEAUTOMOVIL:
[0 1]
FAMI_TIENECOMPUTADOR:
[0 1]
FAMI_TIENEINTERNET:
[0 1]
FAMI_TIENELAVADORA:
[0 1]
PUNT_INGLES:
[ 49.  67.  45.  44.  54.  65.  51.  33.  85.  58.  53.  52.  56.  55.
  61.  46.  40.  29.  50.  76.  43.  59.  78.  90.  32.  42.  69.  60.
  57.  41.  47.  38.  74.  35.  82.  48.  71.  73.  68.  37.  88.  36.
  86.  66.  97.  39.  70.  62.  64.  95.  26.  77.  63.  79. 100.  28.
  83.  31.  80.  75.  34.  72.   0.  81.  24.  30.  23.  25.  84.  89.
  94.  87.  27.  20.  22.  93.  91.  92.  96.  21.  15.  14.  98.   6.
  99.]
PUNT_MATEMATICAS:
[ 42.  52.  40.  51.  47.  71.  49.  53.  39.  41.  69.  64.  58.  45.
  48.  46.  65.  37.  63.  54.  23.  68.  70.  57.  62.  84.  35.  60.
  44.  33.  55.  67.  59.  29.  30.  50.  56.  73.  38.  31.  34.  32.
  74.  43.  22.  77.  72.  97.  28.  24.  27.  80.  36. 100.  79.  61.
  76.  66.  82.  78.   0.  75.  25.  91.  85.  81.  93.  83.  26.  87.
  99.  92.  96.  86.  21.  20.  89.  90.  95.  18.  19.  17.   8.  16.
  88.  13.  12.  98.  94.]
PUNT_SOCIALES_CIUDADANAS:
[ 59.  54.  47.  45.  70.  40.  34.  68.  64.  58.  49.  38.  50.  60.
  52.  48.  37.  51.  27.  53.  72.  39.  56.  46.  78.  57.  55.  63.
  42.  74.  35.  24.  65.  61.  43.  79.  33.  26.  32.  41.  67.  44.
  77.  75.  69.  28.  62.  81.  36.  30.  71.  25.  31.  66.   0.  29.
  18.  84.  21.  80.  73.  76.  16.  23.  98.  20.  82.  14.  22.  93.
  92. 100.  15.  83.  19.  12.  94.  88.  87.  86.  90.   1.   2.  91.
   9.  11.  89.  85.   4.]
PUNT_C_NATURALES:
[ 54.  49.  42.  44.  64.  45.  37.  62.  61.  58.  50.  40.  57.  60.
  47.  34.  46.  51.  43.  53.  63.  71.  68.  55.  56.  69.  48.  59.
  67.  39.  36.  76.  28.  30.  41.  52.  74.  33.  81.  66.  38.  24.
  26.  93.  65.  27.  29.  73.  35.  32.  85.  75.  70.  78.   0.  25.
  72.  77.  31. 100.  19.  79.  83.  80.  22.  90.  84.  16.  18.  86.
  82.  88.  21.  20.  87.  14.  23.  96.  91.  17.  95.  13.   7.  89.]
PUNT_LECTURA_CRITICA:
[ 56.  60.  54.  47.  52.  51.  57.  50.  37.  73.  58.  62.  38.  48.
  59.  49.  46.  44.  63.  66.  53.  64.  45.  40.  68.  67.  43.  55.
  71.  30.  61.  26.  42.  35.  36.  65.  70.  32.  69.  77.  75.  74.
  41.  72.  39.  33.  34.   0.  80.  23.  78.  29.  31.  76.  79.  28.
  91.  24.  83.  27.  85.  25.  84.  94.  16.  82.  81.  21. 100.   7.
  19.  15.  14.  90.  92.  93.  20.  86.  22.   4.  18.   6.   8.]
PUNT_GLOBAL:
[262. 280. 237. 233. 238. 317. 247. 277. 211. 185. 347. 307. 294. 252.
 222. 230. 278. 282. 269. 259. 255. 236. 184. 279. 256. 244. 332. 249.
 305. 273. 193. 361. 220. 298. 225. 240. 241. 243. 322. 246. 378. 210.
 283. 250. 272. 162. 264. 302. 260. 321. 212. 300. 292. 288. 289. 266.
 248. 232. 208. 271. 209. 235. 337. 355. 304. 326. 198. 199. 205. 227.
 161. 188. 290. 200. 213. 343. 265. 214. 218. 234. 175. 173. 221. 293.
 254. 295. 231. 245. 306. 189. 365. 275. 261. 274. 228. 153. 335. 287.
 394. 216. 315. 251. 325. 324. 331. 179. 319. 215. 257. 318. 190. 328.
 239. 308. 202. 186. 303. 268. 276. 316. 333. 267. 223. 170. 191. 435.
 301. 297. 226. 140. 296. 253. 291. 176. 258. 242. 313. 196. 285. 309.
 286. 181. 207. 281. 420. 345. 270. 263. 201. 339. 312. 363. 206. 229.
 183. 195. 388. 219. 217. 197. 178. 336. 358. 284. 187. 341. 299. 323.
 310. 360. 348. 203. 401. 367.   0. 167. 382. 155. 311. 327. 356. 174.
 204. 380. 166. 158. 194. 374. 338. 182. 192. 168. 353. 386. 180. 350.
 340. 160. 329. 320. 330. 139. 402. 163. 224. 172. 177. 385. 143. 373.
 362. 351. 171. 379. 145. 391. 314. 146. 352. 334. 349. 375. 342. 344.
 165. 397. 383. 396. 368. 164. 157. 159. 387. 369. 354. 415. 460. 154.
 148. 400. 371. 364. 393. 152. 381. 144. 357. 125. 419. 359. 156. 390.
 366. 370. 405. 403. 169. 141. 346. 128. 149.  93. 151. 395. 133. 413.
 466. 377. 376.  39. 425. 150. 437. 414. 448. 147. 112. 130. 434. 417.
 384. 398. 399. 372.  51. 404. 115.  76. 406. 476. 431. 131.  16. 409.
 135. 389. 410. 142. 407. 392. 138. 408. 421. 114. 418. 457. 445. 440.
  87.  89. 127.  97. 117. 455. 111. 423. 443. 439. 126. 104. 134. 433.
 137. 432. 412.  80. 123. 416. 119. 411. 438. 129. 118. 422.  81. 430.
 442. 427. 124. 471. 102. 426. 108. 450. 136.  62. 113. 424. 444.  98.
 132.  75. 453.  85. 122. 436. 441. 456.]

In [110]:
print(df_sin_nulos['PUNT_INGLES'].dtype)
print(df_sin_nulos['PUNT_MATEMATICAS'].dtype)

float64
float64

In [112]:
df_sin_nulos.to_csv("datos_reemplazados_no_estesi-categ.csv", index=False)